<div class="container">
  <div class="row justify-content-md-center">
      <div class="col-sm-6">


<h1>Todos los usuarios</h1>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col">Editar Usuario</th>
      <th scope="col">Eliminar Usuario</th>
    </tr>
    </thead>
    <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.name, user %></td>
      <td><%= user.email %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= link_to "Delete", user, method: :delete, data: { confirm: "¿Estás seguro de eliminar este usuario?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="">
<%= link_to "Create New User", new_user_path, class: "btn btn-dark" %>
</div>

  </div>
 </div>
</div>
